.inner {
  &__title {
    margin-left: 190px;
    margin-top: 200px;
    align-items: center;
    width: 423px;
    color: var(--Text-1, #fafaf9);
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0.83px;
  }`
}
